*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #FDE9EB;
  width: 100vw;
}
/* HEADER */
header{
  margin: 1% 15% 5%;
  border: 3px solid black;
}
.video{
  float:left;
  background-size:cover;
  background-repeat: no-repeat;
  width:20%;
  height: 115px;
  position: relative;
}
header > .video:nth-child(-n+4){
  border-right: 1px solid lightgrey;
}
.video.first{
  background-image: url("/img/video-preview1.jpg");
}
.video.second{
  background-image: url("/img/video-preview2.jpg");
}
.video.third{
  background-image: url("/img/video-preview3.jpg")
}
.video.fourth{
  background-image: url("/img/video-preview4.jpg")
}
.video.fifth{
  background-image: url("/img/video-preview5.jpg")
}
.playbar{
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.playbar .videodescription{
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: calc(100% - 35px);
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.playbutton{
  display: inline-block;
  border: 3px solid white;
  border-radius: 3px;
  width: 35px;
  text-align: center;
  position:absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2%;
}
.playbutton img{
  width: 20px;
}
header:after{
  content: "";
  display: table;
  clear: both;
}
/* COLONNE */
main{
  margin: 0 15%;
}
.column{
  float: left;
}
/* MENU A SINISTRA */
.menuleft{
  width: 20%;
}
.menuleft h4{
  padding: 5% 0;
  border-top: 3px solid black;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
